/* Write your CSS here */

.app-container {
  background-image: linear-gradient(to Bottom, #dfe2e5, #ace0f9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.apps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
