/* Write your CSS here */

.app-display {
  width: 130px;
  height: 150px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
}
